*autosave*
*cache*
*history*
*.pl
playlists/
plugged/
undodir/
.histfile
.zcompdump
trizen/
pulse/
inkscape/
htop/
BraveSoftware/
configstore/
polybar/
Code - OSS/
.config/Electron
.config/nvim/.netrwhist
